# Dom√°c√≠ √∫kol ƒç. 1 - üïµÔ∏è‚Äç‚ôÄÔ∏è Exploraƒçn√≠ anal√Ωza dat

## üìö Data
V souborech `intakes.csv` a `outcomes.csv` naleznete data z √∫tulku ve mƒõstƒõ Austin, Texas USA. Data poch√°zej√≠ z ofici√°ln√≠ho [zdroje otev≈ôen√Ωch dat mƒõsta Austin](https://data.austintexas.gov/).

Dataset [intakes](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) obsahuje data o p≈ôijat√Ωch zv√≠≈ôatech od 1. 10. 2013 do 27. 4 2022. Dataset [outcomes](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238) obsahuje √∫daje o zv√≠≈ôatech, kter√° √∫tulek opustila (nap≈ô. byla adoptov√°na, vr√°cena majiteli a podobnƒõ) za tent√Ω≈æ ƒçasov√Ω interval. M≈Ø≈æe se st√°t, ≈æe zv√≠≈ôata p≈ôijat√° do 1. 10. 2013 se nevyskytuj√≠ v `intakes.csv` (data se je≈°tƒõ neshroma≈æƒèovala), ale budou m√≠t z√°znam v `outcomes.csv`, pokud √∫tulek po tomto datu opustila.

‚òùÔ∏è Ka≈æd√Ω dataset m≈Ø≈æe **stejn√© zv√≠≈ôe obsahovat v√≠ckr√°t** (1. nƒõkter√° zv√≠≈ôata se do √∫tulku vracela - to je trochu komplikace, pokud byste datasety chtƒõli spojit - pro ≈ôe≈°en√≠ √∫kolu spojov√°n√≠ ale nen√≠ nutn√©, 2. nƒõkter√© z√°znamy jsou duplicitn√≠ - ty m≈Ø≈æete odstranit, jedn√° se o chybu). 

## Zad√°n√≠
> ‚òùÔ∏è Pou≈æ√≠vejte markdown bu≈àky! Zd≈Øvod≈àujte v≈°echny d≈Øle≈æit√© kroky, popisujte vizualizace a co je z nich mo≈æn√© pozorovat. Za nep≈ôehledn√Ω dom√°c√≠ √∫kol nebudou udƒõleny body.

Za ≈ô√°dn√© pr≈Øbƒõ≈æn√© komentov√°n√≠ a vizu√°ln√≠ prezentaci postupu a v√Ωsledk≈Ø lze z√≠skat a≈æ 3 body.

**‚ú® P≈ô√≠prava dat** (celkem 4 body)
* Importujte pot≈ôebn√© bal√≠ƒçky.
* Naƒçtƒõte si datasety intakes a outcomes z p≈ô√≠slu≈°n√Ωch csv soubor≈Ø.
* Seznamte se s obƒõma datasety a sv√° zji≈°tƒõn√≠ komentujte:
  * P≈ô√≠klad informac√≠, kter√© lze zjistit: poƒçet ≈ô√°dk≈Ø datasetu, poƒçet a v√Ωznam p≈ô√≠znak≈Ø, datov√Ω typ p≈ô√≠znak≈Ø a poƒçet jejich unik√°tn√≠ch hodnot, ...
* Vyƒçistƒõte a zkonvertujte data:
  * Zjistƒõte jak√Ωm zp≈Øsobem jsou v datasetu uv√°dƒõny chybƒõj√≠c√≠ hodnoty a v p≈ô√≠padƒõ pot≈ôeby je p≈ôepi≈°te na NaN.
  * Zkonvertujte kategorick√© p≈ô√≠znaky na typ category.
  * P≈ôeveƒète p≈ô√≠znak Age upon Intake/Outcome na numerick√Ω p≈ô√≠znak.
  * P≈ôeveƒète p≈ô√≠znak DateTime na typ datetime64.
  * Proveƒète v≈°echny dal≈°√≠ √∫pravy, kter√© v√°m d√°vaj√≠ smysl (konverze dal≈°√≠ch p≈ô√≠znak≈Ø, odstranƒõn√≠ duplicitn√≠ch √∫daj≈Ø, p≈ôid√°n√≠ nov√Ωch p≈ô√≠znak≈Ø, ...).
  
**üñäÔ∏è Deskriptivn√≠ statistiky** (celkem 6 bod≈Ø)

Volbu vhodn√Ωch statistik pro dan√Ω typ dat komentujte a pokud je to mo≈æn√©, vyu≈æ√≠vejte co nejv√≠ce vizualizace.
* Popi≈°te p≈ô√≠znaky Age upon Intake a DateTime (p≈Øvodnƒõ z datasetu intakes) pomoc√≠ univariaƒçn√≠ch deskriptivn√≠ch statistik.
* Vyberte si t≈ôi dal≈°√≠ p≈ô√≠znaky a popi≈°te je pomoc√≠ univariaƒçn√≠ch deskriptivn√≠ch statistik, kter√© jsou pro nƒõ vhodn√©.
* Vyberte si dva p≈ô√≠znaky, mezi kter√Ωmi by mohla b√Ωt korelace (dvojice typu Age upon Intake a Age upon Outcome neuzn√°v√°me) a popi≈°te jejich vztah pomoc√≠ bivariaƒçn√≠ch deskriptivn√≠ch statistik.

**‚ùì Zadan√© ot√°zky** (2 body za ka≈ædou ot√°zku, celkem max. 6 bod≈Ø)

Pomoc√≠ vhodn√Ωch vizualizac√≠ odpov√≠dejte na n√°sleduj√≠c√≠ ot√°zky:
* Z√°vis√≠ typ odchodu zv√≠≈ôete z √∫tulku (Outcome Type) na typu p≈ô√≠chodu (Intake Type)? Pokud chcete, uva≈æujte pro zjednodu≈°en√≠ pouze zv√≠≈ôata, kter√° se v ka≈æd√©m datasetu vyskytuj√≠ pr√°vƒõ jednou.
* Hraje vƒõk zv√≠≈ôete roli p≈ôi adopci?
* Je p≈ô√≠jem zv√≠≈ôat v r√°mci roku konstantn√≠ nebo existuj√≠ obdob√≠ s vƒõt≈°√≠/ni≈æ≈°√≠ z√°tƒõ≈æ√≠?

K jedn√© ot√°zce m≈Ø≈æete v p≈ô√≠padƒõ pot≈ôeby vytvo≈ôit v√≠ce vizualizac√≠. V√Ωsledek vizualizace a v≈°echny mezikroky komentujte.

**‚ùì Vlastn√≠ ot√°zky** (2 body za ka≈ædou ot√°zku, celkem max. 6 bod≈Ø)

Vymyslete **minim√°lnƒõ t≈ôi** vlastn√≠ ot√°zky a odpov√≠dejte na nƒõ vhodn√Ωmi vizualizacemi. Ot√°zky m≈Ø≈æete postavit na ji≈æ zm√≠nƒõn√Ωch datasetech. Tak√© je mo≈æn√© vyu≈æ√≠t t≈ôet√≠ dataset [locations](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Found-Pets-Map/hye6-gvq2), kter√Ω naleznete v souboru locations.csv, nebo si m≈Ø≈æete st√°hnout nƒõjak√° dal≈°√≠ zaj√≠mav√° data, kter√° souvis√≠ s t√≠mto t√©matem.

Dataset locations poskytuje informace o v≈°ech toulav√Ωch koƒçk√°ch a psech, kter√© jsou v datab√°zi √∫tulku **m√©nƒõ ne≈æ t√Ωden**. Vƒõt≈°ina se nach√°z√≠ v √∫tulku, ale ƒç√°st z nich je u dobrovoln√≠k≈Ø ‚Äì tato informace je uvedena ve sloupci At AAC (AAC ‚Äì Austin Animal Center).

### Bodov√© hodnocen√≠
Shrnut√≠ bod≈Ø, kter√© m≈Ø≈æete nejv√Ω≈°e z√≠skat:
- 3 body za koment√°≈ôe a vizu√°ln√≠ prezentaci postupu a v√Ωsledk≈Ø,
- 4 body za p≈ô√≠pravu dat,
- 6 bod≈Ø za deskriptivn√≠ statistiku,
- 6 bod≈Ø za zodpovƒõzen√≠ v≈°ech zadan√Ωch ot√°zek,
- 6 bod≈Ø za definici a zodpovƒõzen√≠ minim√°lnƒõ t≈ô√≠ vlastn√≠ch ot√°zek.

Celkem lze za dom√°c√≠ √∫kol ƒç. 1 z√≠skat maxim√°lnƒõ 25 bod≈Ø.

In [39]:
#importing the packages
import pandas as pd
import matplotlib as pl
import numpy as np

## CSV loading

In [7]:
intakes = pd.read_csv("intakes.csv")
outcomes = pd.read_csv("outcomes.csv")

## Data exploration

In [42]:
#shows a couple of rows in the beggining and end
display(intakes)
#info about data types, nan values and columns
display(intakes.info())
#info about the number of unique values for each column
display(intakes.nunique())
#min and max dates
display("Min date: {}".format(intakes["DateTime"].min()))
display("Max date: {}".format(intakes["DateTime"].max()))

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray
...,...,...,...,...,...,...,...,...,...,...,...,...
138580,A856010,Snow,04/27/2022 07:54:00 AM,April 2022,4434 Frontier Trail in Austin (TX),Owner Surrender,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair,White
138581,A855811,A855811,04/23/2022 01:32:00 PM,April 2022,4414 Dove Dr in Austin (TX),Stray,Normal,Dog,Intact Male,2 months,Labrador Retriever Mix,Brown Brindle/Black
138582,A855815,A855815,04/23/2022 01:32:00 PM,April 2022,4414 Dove Dr in Austin (TX),Stray,Normal,Dog,Intact Female,2 months,Labrador Retriever Mix,Brown/Black
138583,A855818,*Pumbaa,04/23/2022 02:44:00 PM,April 2022,10827 Fm 1820 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Anatol Shepherd/German Shepherd,Brown
138584,A854552,Coco,04/21/2022 12:24:00 PM,April 2022,641 Tillery Street in Austin (TX),Stray,Normal,Dog,Intact Female,9 months,Pit Bull Mix,Black/White

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138585 entries, 0 to 138584
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         138585 non-null  object
 1   Name              97297 non-null   object
 2   DateTime          138585 non-null  object
 3   MonthYear         138585 non-null  object
 4   Found Location    138585 non-null  object
 5   Intake Type       138585 non-null  object
 6   Intake Condition  138585 non-null  object
 7   Animal Type       138585 non-null  object
 8   Sex upon Intake   127515 non-null  object
 9   Age upon Intake   138578 non-null  object
 10  Breed             138582 non-null  object
 11  Color             138585 non-null  object
dtypes: object(12)
memory usage: 12.7+ MB

None

Animal ID           123890
Name                 23543
DateTime             97442
MonthYear              103
Found Location       58367
Intake Type              6
Intake Condition        15
Animal Type              5
Sex upon Intake          4
Age upon Intake         52
Breed                 2740
Color                  616
dtype: int64

'Min date: 01/01/2014 01:05:00 PM'

'Max date: 12/31/2021 12:35:00 PM'

In [36]:
#See different unique values of important columns, check for suspitious values
display(intakes["Animal Type"].unique())
display(intakes["Sex upon Intake"].unique())
display(intakes["Age upon Intake"].unique())
display(intakes["Intake Type"].unique())
display(intakes["Intake Condition"].unique())

array(['Dog', 'Cat', 'Other', 'Bird', 'Livestock'], dtype=object)

array(['Neutered Male', 'Spayed Female', 'Intact Male', 'Intact Female',
       'Unknown', nan], dtype=object)

array(['2 years', '8 years', '11 months', '4 weeks', '4 years', '6 years',
       '6 months', '5 months', '14 years', '1 month', '2 months',
       '18 years', '9 years', '4 months', '1 year', '3 years', '4 days',
       '1 day', '5 years', '2 weeks', '15 years', '7 years', '3 weeks',
       '3 months', '12 years', '1 week', '9 months', '10 years',
       '10 months', '7 months', '8 months', '1 weeks', '5 days',
       '0 years', '2 days', '11 years', '17 years', '3 days', '13 years',
       '5 weeks', '19 years', '6 days', '16 years', '20 years',
       '-1 years', '22 years', '23 years', '-2 years', '21 years',
       '-3 years', '25 years', '24 years', '30 years', '28 years'],
      dtype=object)

array(['Stray', 'Owner Surrender', 'Public Assist', 'Wildlife',
       'Euthanasia Request', 'Abandoned'], dtype=object)

array(['Normal', 'Sick', 'Injured', 'Pregnant', 'Nursing', 'Aged',
       'Medical', 'Other', 'Neonatal', 'Feral', 'Behavior', 'Med Urgent',
       'Space', 'Med Attn', 'Panleuk'], dtype=object)

In [32]:
#another way to see a data frame
display(outcomes.describe())

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
count,138769,97514,138769,138769,138769,138746,63435,138769,138768,138764,138769,138769
unique,124068,23425,115364,103,7576,9,26,5,5,54,2749,619
top,A721033,Max,04/18/2016 12:00:00 AM,Jun 2019,05/01/2016,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,621,39,2244,119,63518,33597,78138,48877,24024,32515,14481

In [34]:
#See different unique values of important columns, check for suspitious values
display(outcomes["Animal Type"].unique())
display(outcomes["Sex upon Outcome"].unique())
display(outcomes["Age upon Outcome"].unique())
display(outcomes["Outcome Type"].unique())

array(['Cat', 'Dog', 'Other', 'Bird', 'Livestock'], dtype=object)

array(['Neutered Male', 'Unknown', 'Intact Male', 'Spayed Female',
       'Intact Female', nan], dtype=object)

array(['2 years', '1 year', '4 months', '6 days', '7 years', '2 months',
       '2 days', '3 weeks', '9 months', '4 weeks', '2 weeks', '3 months',
       '9 years', '10 years', '6 months', '8 years', '3 years',
       '7 months', '6 years', '4 years', '1 month', '12 years', '5 years',
       '1 weeks', '5 months', '5 days', '15 years', '11 months',
       '10 months', '4 days', '16 years', '1 day', '8 months', '11 years',
       '13 years', '1 week', '14 years', '3 days', '0 years', '5 weeks',
       '17 years', '18 years', '20 years', '22 years', '-2 years',
       '19 years', '23 years', '24 years', '-1 years', '25 years',
       '21 years', '-3 years', '30 years', nan, '28 years'], dtype=object)

array(['Rto-Adopt', 'Adoption', 'Euthanasia', 'Transfer',
       'Return to Owner', 'Died', 'Disposal', 'Missing', 'Relocate', nan],
      dtype=object)

#### Exploration outcomes
* I can see that an Animal with and ID A721033 is 33 times in this table, which may be something to take a look at.
* Also there are slightly more unique IDs in the **outcomes** table than in the **intakes**, which probably means that the number of cared for animals has lowered in the time period.
* There were some values like negative ages and Unknown sex. I will have to do something about these or work carefully with these columns.
* Animals with no names are named like their ID's

## Data preprocessing

In [41]:
#changing unknown and suspicious values to NaN
intakes.replace(to_replace = ['Unknown','-1 years','-2 years','-3 years'], value = np.nan, inplace= True)